@model CustomIdentity.ViewModels.LoginVM

@{
ViewData["Title"] = "Login";
Layout = null; // Disable the layout for this view
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7MBf+2ZDbCzEz4jFYlQ6KXJ8kSYP6VdFlJxE+3IWIBGwJS5XspmPE9pew==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            background-color: #20c997; /* Change to match the background color of the image */
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .login-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .login-card {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 2rem;
            width: 500px;
            height:600px;
            
        }
        .login-card h2 {
            color: #333;
            margin-bottom: 1.5rem;
        }
        .form-control {
            border-radius: 5px;
            margin-bottom: 1rem;
        }
        .btn-primary {
            background-color: #20c997; /* Match the button color */
            border: none;
            border-radius: 5px;
            padding: 0.75rem;
            width: 100%;
            color: #fff;
            font-size: 1rem;
            cursor: pointer;
        }
        .btn-primary:hover {
            background-color: #1ca883;
        }
        .login-card a {
            color: #20c997;
            text-decoration: none;
        }
        .login-card a:hover {
            text-decoration: underline;
        }
        .form-group {
            position: relative;
        }
        .form-group i {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            color: #999;
        }
        .form-control {
            padding-left: 40px;
            
        }
        
        #login_title{
            padding-bottom: 40px;
            font-size: 50px;
            text-align: center;
            margin-bottom: 20px;
        }
        
        form{
            height: 500px;
        }
        .sr-only{
            font-size: 30px;
            text-align: left;
            padding-left: 40px;
            margin-bottom: 40px;
        }
        
        input{
            height: 35px;
            width: 200px;
            padding-left: 90px;
        }
        
        #input1{
            margin-left: 57px;
        }
        
        #email1{
            margin-bottom: 40px;
        }
        #email2{
            font-size:20px ;
        }

        #email3{
            margin-bottom: 60px;
        }
        
        #email4{
            font-size:20px ;
        }
        
        #login_button{
            font-size:30px ;
            height:  80px;
           
        }
    </style>
</head>
<body>
<div class="login-container">
    <div class="login-card">
        <h2 class="text-center" id="login_title">Login</h2>
        <form asp-action="Login" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div id="email1" class="form-group">
                <i class="fa fa-user"></i>
                <label asp-for="Username" class="sr-only">Email:</label>
                <input id="input1"asp-for="Username" class="form-control" placeholder="placeholder@email.org" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            
            
            <div id="email3" class="form-group">
                <i class="fa fa-lock"></i>
                <label asp-for="Password" class="sr-only">Password:</label>
                <input id="input2" asp-for="Password" type="password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
          
            <div class="mb-3">
                <input id="login_button" type="submit" value="Login" class="btn btn-primary" />
            </div>
            <div id="email4" class="text-center mt-3">
                <a asp-action="Register" class="text-decoration-none">Not a member? Signup now</a>
            </div>
        </form>
    </div>
</div>

<!-- Scripts Section -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7MBf+2ZDbCzEz4jFYlQ6KXJ8kSYP6VdFlJxE+3IWIBGwJS5XspmPE9pew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js" integrity="sha512-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7MBf+2ZDbCzEz4jFYlQ6KXJ8kSYP6VdFlJxE+3IWIBGwJS5XspmPE9pew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
@await Html.PartialAsync("_ValidationScriptsPartial")
</body>
</html>
