@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CustomIdentity.ViewModels.RegisterVM
@inject UserManager<AppUser> UserManager
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
ViewData["Title"] = "Register";
var user = UserManager.GetUserAsync(User).Result;
var userRole = user?.RoleName;
Layout = null; 
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7MBf+2ZDbCzEz4jFYlQ6KXJ8kSYP6VdFlJxE+3IWIBGwJS5XspmPE9pew==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            background-color: #20c997; /* Change to match the background color of the image */
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .register-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .register-card {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 2rem;
            width: 550px;
            height: 700px;
        }
        .register-card h2 {
            color: #333;
            margin-bottom: 1.5rem;
        }
        .form-control {
            border-radius: 5px;
            margin-bottom: 1rem;
        }
        .btn-primary {
            background-color: #20c997; /* Match the button color */
            border: none;
            border-radius: 5px;
            padding: 0.75rem;
            width: 100%;
            color: #fff;
            font-size: 1rem;
            cursor: pointer;
        }
        .btn-primary:hover {
            background-color: #1ca883;
        }
        .register-card a {
            color: #20c997;
            text-decoration: none;
        }
        .register-card a:hover {
            text-decoration: underline;
        }
        .form-group {
            position: relative;
        }
        .form-group i {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            color: #999;
        }
        .form-control {
            padding-left: 40px;
        }
        #register_title {
            padding-bottom: 40px;
            font-size: 50px;
            text-align: center;
            margin-bottom: 20px;
        }
        .sr-only {
            font-size: 30px;
            text-align: left;
            padding-left: 40px;
            margin-bottom: 40px;
        }
        input {
            height: 35px;
            width: 200px;
            padding-left: 120px;
            margin-left: 30px;
        }
        #input1 {
            margin-left: 57px;
        }
        #email1 {
            margin-bottom: 20px;
        }
        #email2 {
            font-size: 20px;
        }
        #email3 {
            margin-bottom: 20px;
        }
        #email5 {
            font-size: 40px;
            
        }
        #register_button {
            margin-top: 30px;
            font-size: 30px;
            height: 80px;
            margin-left:0;
        }
        
        #text{
           margin-bottom: -8px;
            height: 35px;
            width: 200px;
            padding-top: 10px;
            padding-left: 30px;
            text-align: left;
        }
    </style>
</head>
<body>
<div class="register-container">
    <div class="register-card">
        <h2 class="text-center" id="register_title">Create Account</h2>
        <form asp-action="Register" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div id="email1" class="form-group">
                <i class="fa fa-user"></i>
                <label asp-for="Name" class="sr-only">Name:</label>
                <input id="input1" asp-for="Name" class="form-control" placeholder="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div id="email1" class="form-group">
                <i class="fa fa-envelope"></i>
                <label asp-for="Email" class="sr-only">Email:</label>
                <input id="input1" asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div id="email3" class="form-group">
                <i class="fa fa-lock"></i>
                <label asp-for="Password" class="sr-only">Password:</label>
                <input id="input2" asp-for="Password" type="password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div id="email3" class="form-group">
                <i class="fa fa-lock"></i>
                <label asp-for="ConfirmPassword" class="sr-only">Confirm:</label>
                <input id="input2" asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div id="email5" class="form-group">
                <i class="fa fa-users"></i>
                <label asp-for="RoleName" class="sr-only">Role Name:</label>
                <textarea id="text" asp-for="RoleName" class="form-control" rows="2" ></textarea>
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="row">
                
                <div class="col-4">
                    <input id="register_button" type="submit" value="Register" class="btn btn-primary w-100" />
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Scripts Section -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7MBf+2ZDbCzEz4jFYlQ6KXJ8kSYP6VdFlJxE+3IWIBGwJS5XspmPE9pew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js" integrity="sha512-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7MBf+2ZDbCzEz4jFYlQ6KXJ8kSYP6VdFlJxE+3IWIBGwJS5XspmPE9pew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
@await Html.PartialAsync("_ValidationScriptsPartial")
</body>
</html>
