@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - CustomIdentity</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/CustomIdentity.styles.css" asp-append-version="true"/>
    <style>
        
        .header{
            font-family: cursive;
            font-size: 20px;
            }
        .sidebar {
            height: 100vh;
            background-color: lightblue;
            padding: 1rem;
            position: fixed;
            top: 0;
            left: 0;
            width: 200px;
            border-right: 1px solid #dee2e6;
        }

        .content {
            margin-left: 250px;
            padding: 1rem;
        }

        .sidebar a {
            margin-top: 30px;
            display: block;
            padding: 0.5rem;
            color: #000;
            text-decoration: none;
        }
        
        #logo{
            width:160px;
            border-radius: 45px;
            }

        .sidebar a:hover {
            background-color: #e9ecef;
        }
    </style>
</head>

<body>
<header class="header">
    <nav class="sidebar">
        <img id="logo" src="~/images/logo.png" alt="Sidebar Image" />
        <a asp-area="" asp-controller="Home" asp-action="HomeView">Home</a>
        <a asp-area="" asp-controller="Groups" asp-action="Index">Classes</a>
        <a asp-area="" asp-controller="Assignment" asp-action="Index">Assignments</a>
        <a asp-area="" asp-controller="Account" asp-action="Register">Create account</a>
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </nav>
</header>
<div class="content">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
